@model MotoristaModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">



    <div class="container-fluid py-4 mx-8">

<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Contact Info</h4>
            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                <img src="@Model.ImageFile" class="rounded-lg" alt="">
            </div>
            <div class="d-flex py-4">
                <div class="preview-list w-100">
                    <div class="preview-item p-0">
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@Model.Nome</h6>
                                    <p class="text-muted text-small">@Model.Email </p>
                                </div>
                                <p class="text-muted">@Model.Telefone</p>
                                <p class="text-muted">@Model.sexo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted">@Model.data_adesao</p>


        </div>
        <div class="mb-4 ml-4">
            <hr />
            <a type="button" class="btn btn-dark" asp-controller="Motorista" asp-action="Index">Voltar</a> |
             <a type="button" class="btn btn-primary" asp-route-id="@Model.Id" asp-controller="Motorista" asp-action="Apagar">Deletar</a>

            <br />
        </div>
    </div>
</div>
    </div>
</div>


