@model IEnumerable<MotoristaModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}




<div class="container">



    <div class="container-fluid py-4 mx-8">
        <div>
            <input type="text" id="searchQuery" />
            <button class="btn btn-primary mr-2" id="searchButton">Pesquisar</button>
        </div><br /><br />

        <div class="col-12" >
            <a class="btn btn-dark mr-2" asp-controller="Motorista" asp-action="Criar" type="button" class="btn btn-inverse-success btn-fw">Registar</a>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome - Email</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefone - Endereço</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data de NAcimento</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sexo</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria de Carta</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (MotoristaModel motorista in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @motorista.Id
                                                </td>
                                                <td>
                                                    <div class="d-flex px-2 py-1">
                                                        <div>
                                                            <img src="@motorista.MotoristaImagem" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <h6 id="messagesList" class="mb-0 text-sm">  <label>@motorista.Nome</label></h6>
                                                            <p class="text-xs text-secondary mb-0">@motorista.Email</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                       <div class="d-flex flex-column justify-content-center">
                                                    <h6 id="messagesList" class="mb-0 text-sm">  <label>@motorista.Telefone</label></h6>
                                                        <p class="text-xs text-secondary mb-0">@motorista.Endereco</p>
                                                    </div>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs"> @motorista.DOB</span>
                                                  
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span  class="text-secondary text-xs">@motorista.sexo </span>
                                                </td>

                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs">@motorista.data_adesao </span>
                                                </td>


                                                <td class="align-middle">
                                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Ver
                                                    </a>
                                                    <a asp-controller="Motorista" asp-action="Editar" asp-route-id="@motorista.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Editar
                                                    </a>
                                                    <a asp-controller="Motorista" asp-action="ApagarConfirmacao" asp-route-id="@motorista.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Apagar
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">
                                                <h4 class="text-center">Nenhum registro encontrado</h4>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




<script>
    $(function () {
        $('#searchButton').click(function () {
            var query = $('#searchQuery').val();
            $.ajax({
                url: '@Url.Action("Index", "Contato")',
                data: { query: query },
                success: function (data) {
                    $('tbody').html(data);
                }
            });
        });
    });
</script>
