@model List<UsuarioModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts {


    @if (TempData["MensagemSucesso"] != null || TempData["MensagemErro"] != null)
    {
        <script>
            $(document).ready(function () {
                $('#liveToast').toast('show');
            });
        </script>
    }
}


<div>
    <a type="button" class="btn btn-inverse-success btn-fw" asp-controller="Usuarios" asp-action="Criar">Registar Movies</a>
</div>
<br />

<div class="container">



    <div class="container-fluid py-4 mx-8">
        <div>
            <input type="text" id="searchQuery" />
            <button class="btn btn-primary mr-2" id="searchButton">Pesquisar</button>
        </div><br /><br />

        <div class="col-12">
            <a class="btn btn-dark mr-2" asp-controller="Usuarios" asp-action="Criar" type="button" class="btn btn-inverse-success btn-fw">Registar</a>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
               
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome - Email</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Login</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Perfil</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Registos</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Registo</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        @foreach (UsuarioModel usuario in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @usuario.Id
                                                </td>
                                                <td>
                                                    <div class="d-flex px-2 py-1">
                                                        <div>
                                                            <img src="@usuario.ImageURL" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <h6 id="messagesList" class="mb-0 text-sm">  <label>@usuario.Nome</label></h6>
                                                            <p class="text-xs text-secondary mb-0">@usuario.Email</p>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>

                                                    @if (@usuario.Perfil == CrudWag.Data.Enum.PerfilEnum.Admin)
                                                    {
                                                        <span class="badge badge-sm bg-gradient-warning">@usuario.Perfil</span>
                                                     }
                                                    else
                                                    {
                                                        <span class="badge badge-sm bg-gradient-success">@usuario.Perfil</span>
                                                    }
                                                </td>

                                                <td>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 id="messagesList" class="mb-0 text-sm">  <label>@usuario.Login</label></h6>
                                
                                                    </div>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs"> @usuario.DataCadastro.ToString("dd MMM yyyy")</span>

                                                </td>
            

                                                <td class="align-middle">
                                                    <a  asp-controller="Usuarios"  asp-action="Ver" asp-route-id="@usuario.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Ver
                                                    </a>
                                                    <a asp-controller="Usuarios" asp-action="Editar" asp-route-id="@usuario.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Editar
                                                    </a>
                                                    <a asp-controller="Usuarios" asp-action="ApagarConfirmacao" asp-route-id="@usuario.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Apagar
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">
                                                <h4 class="text-center">Nenhum registro encontrado</h4>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

@*<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContatosUsuario">
    Open modal
</button>*@

<!-- The Modal -->
<div class="modal" id="modalContatosUsuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Contato Lista</h4>
                @*<button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="listaContatosUsuario"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-inverse-danger btn-sm" data-dismiss="modal">Close</a>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modalLivrosUsuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Livros Lista</h4>
                @*<button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="listaLivrosUsuario"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-inverse-danger btn-sm" data-dismiss="modal">Close</a>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modalCinemasUsuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cinemas Lista</h4>
                @*<button type="button" class="close" data-dismiss="modal" style="color: red">&times;</button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="listaCinemasUsuario"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-inverse-danger btn-sm" data-dismiss="modal">Close</a>
            </div>

        </div>
    </div>
</div>

<div class="position-fixed bottom-10 right-0 p-3" style="z-index: 5; position: absolute; top: 80px; right: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">

        <div class="">
            <div class="alert @(TempData.ContainsKey("MensagemSucesso") ? "alert-success" : "alert-danger")" role="alert">
                @if (TempData["MensagemSucesso"] != null)
                {
                    @TempData["MensagemSucesso"]
                }
                @if (TempData["MensagemErro"] != null)
                {
                    @TempData["MensagemErro"]
                }
            </div>
        </div>
    </div>
</div>